<div class="form-container">
  <div class="form-box">
    <div class="logo-container">
      <h2 class="logo-text">JobConnect</h2>
    </div>
    <h3>Recuperar Contraseña</h3>
    <p class="instructions">Introduce tu email para recibir un código de verificación.</p>

    <div *ngIf="successMessage && !generalError" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="generalError" class="error-message general-error">
      {{ generalError }}
    </div>

    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
      <div class="form-group">
        <label for="email">Tu email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="nombre@ejemplo.com"
          [(ngModel)]="email"
          required
          #emailInput="ngModel"
          [class.invalid-input]="(emailInput.invalid && emailInput.touched) || emailError"
          [disabled]="isLoading"
        >
        <div *ngIf="emailError" class="error-message field-error">
          {{ emailError }}
        </div>
        <div *ngIf="emailInput.invalid && emailInput.touched && !emailError" class="error-message field-error">
          El correo es obligatorio.
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        <span *ngIf="!isLoading">Enviar Código</span>
        <span *ngIf="isLoading">Enviando...</span>
      </button>
    </form>

    <div class="back-link">
      <a routerLink="/login">Volver a la vista anterior</a>
    </div>
  </div>
</div>
